/* Copyright 2021 i2c Inc. All rights reserved. */

@import '../styles/core-global.css';
@import '../styles/fonts.css';

:host {
    display: block;
}

#scale,
#theme {
    width: 100%;
    height: 100%;
}
