/* Copyright 2021 i2c Inc. All rights reserved. */

/* stylelint-disable */

:host,
:root {
    font-family: var(--cm-alias-body-text-font-family);
    font-size: var(--cm-alias-font-size-default);
}
:host:lang(ar),
:root:lang(ar) {
    font-family: var(--cm-alias-font-family-ar);
}
:host:lang(he),
:root:lang(he) {
    font-family: var(--cm-alias-font-family-he);
}
:host:lang(zh-Hans),
:root:lang(zh-Hans) {
    font-family: var(--cm-alias-font-family-zhhans);
}
:host:lang(zh),
:host:lang(zh-Hant),
:root:lang(zh),
:root:lang(zh-Hant) {
    font-family: var(--cm-alias-font-family-zh);
}
:host:lang(ko),
:root:lang(ko) {
    font-family: var(--cm-alias-font-family-ko);
}
:host:lang(ja),
:root:lang(ja) {
    font-family: var(--cm-alias-font-family-ja);
}
/* stylelint-enable */
