.spectrum {
    /* .spectrum */
    font-family: var(
        --cm-alias-body-text-font-family,
        var(--cm-global-font-family-base)
    );
    font-size: var(
        --cm-alias-font-size-default,
        var(--cm-global-dimension-font-size-100)
    );
}
.spectrum {
    /* .spectrum,
   * .spectrum-Body */
    color: var(--cm-body-m-text-color, var(--cm-alias-text-color));
}
