:host([size='s']) {
    /* .cm-FieldLabel--sizeS */
    --cm-fieldlabel-text-font-weight: var(
        --cm-fieldlabel-s-text-font-weight,
        var(--cm-alias-body-text-font-weight)
    );
    --cm-fieldlabel-text-line-height: var(
        --cm-fieldlabel-s-text-line-height,
        var(--cm-alias-component-text-line-height)
    );
    --cm-fieldlabel-text-size: var(
        --cm-fieldlabel-s-text-size,
        var(--cm-global-dimension-font-size-75)
    );
    --cm-fieldlabel-asterisk-gap: var(
        --cm-fieldlabel-s-asterisk-gap,
        var(--cm-global-dimension-size-25)
    );
    --cm-fieldlabel-asterisk-margin-y: var(
        --cm-fieldlabel-s-asterisk-margin-y,
        var(--cm-global-dimension-size-50)
    );
    --cm-fieldlabel-padding-top: var(
        --cm-fieldlabel-s-padding-top,
        var(--cm-global-dimension-size-50)
    );
    --cm-fieldlabel-padding-bottom: var(
        --cm-fieldlabel-s-padding-bottom,
        var(--cm-global-dimension-size-65)
    );
}
:host([size='m']) {
    /* .spectrum-FieldLabel--sizeM */
    --cm-fieldlabel-text-font-weight: var(
        --cm-fieldlabel-m-text-font-weight,
        var(--cm-alias-body-text-font-weight)
    );
    --cm-fieldlabel-text-line-height: var(
        --cm-fieldlabel-m-text-line-height,
        var(--cm-alias-component-text-line-height)
    );
    --cm-fieldlabel-text-size: var(
        --cm-fieldlabel-m-text-size,
        var(--cm-global-dimension-font-size-75)
    );
    --cm-fieldlabel-asterisk-gap: var(
        --cm-fieldlabel-m-asterisk-gap,
        var(--cm-global-dimension-size-25)
    );
    --cm-fieldlabel-asterisk-margin-y: var(
        --cm-fieldlabel-m-asterisk-margin-y,
        var(--cm-global-dimension-size-50)
    );
    --cm-fieldlabel-padding-top: var(
        --cm-fieldlabel-m-padding-top,
        var(--cm-global-dimension-size-50)
    );
    --cm-fieldlabel-padding-bottom: var(
        --cm-fieldlabel-m-padding-bottom,
        var(--cm-global-dimension-size-65)
    );
}
:host([size='l']) {
    /* .spectrum-FieldLabel--sizeL */
    --cm-fieldlabel-text-font-weight: var(
        --cm-fieldlabel-l-text-font-weight,
        var(--cm-alias-body-text-font-weight)
    );
    --cm-fieldlabel-text-line-height: var(
        --cm-fieldlabel-l-text-line-height,
        var(--cm-alias-component-text-line-height)
    );
    --cm-fieldlabel-text-size: var(
        --cm-fieldlabel-l-text-size,
        var(--cm-global-dimension-font-size-100)
    );
    --cm-fieldlabel-asterisk-gap: var(
        --cm-fieldlabel-l-asterisk-gap,
        var(--cm-global-dimension-size-25)
    );
    --cm-fieldlabel-asterisk-margin-y: var(
        --cm-fieldlabel-l-asterisk-margin-y,
        var(--cm-global-dimension-size-50)
    );
    --cm-fieldlabel-padding-top: var(
        --cm-fieldlabel-l-padding-top,
        var(--cm-global-dimension-size-75)
    );
    --cm-fieldlabel-padding-bottom: var(
        --cm-fieldlabel-l-padding-bottom,
        var(--cm-global-dimension-size-115)
    );
}
:host([size='xl']) {
    /* .spectrum-FieldLabel--sizeXL */
    --cm-fieldlabel-text-font-weight: var(
        --cm-fieldlabel-xl-text-font-weight,
        var(--cm-alias-body-text-font-weight)
    );
    --cm-fieldlabel-text-line-height: var(
        --cm-fieldlabel-xl-text-line-height,
        var(--cm-alias-component-text-line-height)
    );
    --cm-fieldlabel-text-size: var(
        --cm-fieldlabel-xl-text-size,
        var(--cm-global-dimension-font-size-200)
    );
    --cm-fieldlabel-asterisk-gap: var(
        --cm-fieldlabel-xl-asterisk-gap,
        var(--cm-global-dimension-size-25)
    );
    --cm-fieldlabel-asterisk-margin-y: var(
        --cm-fieldlabel-xl-asterisk-margin-y,
        var(--cm-global-dimension-size-50)
    );
    --cm-fieldlabel-padding-top: var(
        --cm-fieldlabel-xl-padding-top,
        var(--cm-global-dimension-size-115)
    );
    --cm-fieldlabel-padding-bottom: var(
        --cm-fieldlabel-xl-padding-bottom,
        var(--cm-global-dimension-size-130)
    );
}
:host {
    /* .spectrum-FieldLabel,
   * .spectrum-Form-itemLabel */
    display: block;
    box-sizing: border-box;
    padding-top: var(--cm-fieldlabel-padding-top);
    padding-bottom: var(--cm-fieldlabel-padding-bottom);
    padding-left: 0;
    padding-right: 0;
    font-size: var(--cm-fieldlabel-text-size);
    font-weight: var(--cm-fieldlabel-text-font-weight);
    line-height: var(--cm-fieldlabel-text-line-height);
    vertical-align: top;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-smoothing: subpixel-antialiased;
}
:host([dir='ltr']) .requiredIcon {
    /* [dir=ltr] .spectrum-FieldLabel-requiredIcon */
    margin-left: var(--cm-fieldlabel-asterisk-gap);
    margin-right: 0;
}
:host([dir='rtl']) .requiredIcon {
    /* [dir=rtl] .spectrum-FieldLabel-requiredIcon */
    margin-right: var(--cm-fieldlabel-asterisk-gap);
    margin-left: 0;
}
.requiredIcon {
    /* .spectrum-FieldLabel-requiredIcon */
    margin-top: var(--cm-fieldlabel-asterisk-margin-y);
    margin-bottom: 0;
}
:host([dir='ltr'][side-aligned='start']) {
    /* [dir=ltr] .spectrum-FieldLabel--left */
    padding-left: 0;
    padding-right: var(
        --cm-fieldlabel-side-m-padding-right,
        var(--cm-global-dimension-size-150)
    );
}
:host([dir='rtl'][side-aligned='start']) {
    /* [dir=rtl] .spectrum-FieldLabel--left */
    padding-right: 0;
    padding-left: var(
        --cm-fieldlabel-side-m-padding-right,
        var(--cm-global-dimension-size-150)
    );
}
:host([side-aligned='start']) {
    /* .spectrum-FieldLabel--left */
    display: inline-block;
    padding-top: var(
        --cm-fieldlabel-side-m-padding-top,
        var(--cm-global-dimension-size-100)
    );
    padding-bottom: 0;
}
:host([dir='ltr'][side-aligned='start']) .requiredIcon {
    /* [dir=ltr] .spectrum-FieldLabel--left .spectrum-FieldLabel-requiredIcon */
    margin-left: var(--cm-fieldlabel-asterisk-gap);
    margin-right: 0;
}
:host([dir='rtl'][side-aligned='start']) .requiredIcon {
    /* [dir=rtl] .spectrum-FieldLabel--left .spectrum-FieldLabel-requiredIcon */
    margin-right: var(--cm-fieldlabel-asterisk-gap);
    margin-left: 0;
}
:host([side-aligned='start']) .requiredIcon {
    /* .spectrum-FieldLabel--left .spectrum-FieldLabel-requiredIcon */
    margin-top: var(
        --cm-fieldlabel-side-m-asterisk-margin-y,
        var(--cm-global-dimension-size-50)
    );
    margin-bottom: 0;
}
:host([dir='ltr'][side-aligned='end']) {
    /* [dir=ltr] .spectrum-FieldLabel--right */
    text-align: right;
}
:host([dir='rtl'][side-aligned='end']) {
    /* [dir=rtl] .spectrum-FieldLabel--right */
    text-align: left;
}
:host([dir='ltr'][side-aligned='end']) {
    /* [dir=ltr] .spectrum-FieldLabel--right */
    padding-left: 0;
    padding-right: var(
        --cm-fieldlabel-side-m-padding-right,
        var(--cm-global-dimension-size-150)
    );
}
:host([dir='rtl'][side-aligned='end']) {
    /* [dir=rtl] .spectrum-FieldLabel--right */
    padding-right: 0;
    padding-left: var(
        --cm-fieldlabel-side-m-padding-right,
        var(--cm-global-dimension-size-150)
    );
}
:host([side-aligned='end']) {
    /* .spectrum-FieldLabel--right */
    display: inline-block;
    padding-top: var(
        --cm-fieldlabel-side-m-padding-top,
        var(--cm-global-dimension-size-100)
    );
    padding-bottom: 0;
}
:host {
    /* .spectrum-FieldLabel,
   * .spectrum-Form-itemLabel */
    color: var(
        --cm-fieldlabel-m-text-color,
        var(--cm-alias-label-text-color)
    );
}
:host([disabled]) {
    /* .spectrum-FieldLabel.is-disabled,
   * .spectrum-Form-itemLabel.is-disabled */
    color: var(
        --cm-fieldlabel-m-text-color-disabled,
        var(--cm-alias-text-color-disabled)
    );
}
:host([disabled]) .requiredIcon {
    /* .spectrum-FieldLabel.is-disabled .spectrum-FieldLabel-requiredIcon,
   * .spectrum-Form-itemLabel.is-disabled .spectrum-FieldLabel-requiredIcon */
    color: var(
        --cm-fieldlabel-m-asterisk-color-disabled,
        var(--cm-alias-text-color-disabled)
    );
}
.requiredIcon {
    /* .spectrum-FieldLabel-requiredIcon */
    color: var(
        --cm-fieldlabel-m-asterisk-color,
        var(--cm-global-color-gray-600)
    );
}
